<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<title>책갈피</title>
	<style type = "text/css">

	/*레이아웃*/

	* {
	margin : 0px;
	padding : 0px;
	font-family:"Century Gothic","New Times Roman";
	text-decoration : none;
	border-collapse : collapse;
	}

	#wrapper{
	margin:0 auto;
	width : 1200px;
	}
	
	#upheader{
	height : 30px;
	text-indent : 80;
	}
	
	#header{
	height : 60px;
	}

	#main{
	margin : 0 auto;
	width : 80%;
	height : 500px;
	}
	
	#botmain{
	margin : 0 auto;
	width : 1000px;
	height : 200px;
	}
	
	#botone{
	width : 350px;
	float : left;
	}
	
	#bottwo{
	width : 350px;
	float : left;
	}
	
	#rightside{
	position : fixed;
	z-index : 2;
	top : 85%;
	right : 2%;
	}
	
	#footer{
	clear : left;
	height : 30px;
	}
	
	
	/*네비게이션*/

	
	#upheader{
	padding : 36px 0;
    font-family : "돋움", Times, serif;
	font-size : 25px;
	font-weight : 600;
	margin-bottom : 30px;
	color : #D873F1;
	}
	
	#sp2{
	font-family : "함초롬바탕", Times, serif;
	font-size : 40px;
	color : purple;
	}
	
	#header ul{
	float : left;
	background : #D873F1 url("./제목 없음.png") no-repeat top right;
	width:100%;
    border-bottom : 10px solid white;
	}
	
	#header li{
	float : left;
	list-style-type : none;
	padding : 10px 0px;
	}
	
	#header a{
	font-family : "돋움";
	text-decoration : none;
	text-transform : uppercase;
	font-weight : 800;
	color : white;
	font-size : 35px;
	padding : 10px 70px;
	border-right:3px solid white;
	}

	#header a:hover{
	color : green;
	background-color : white;
	}

	#main{
	background : #D873F1 url("./제목 없음.png") no-repeat top right;
	font-size : 25px;
	color : white;
	font-weight:700;
	text-align:center;
	}
	
	#main p:first-letter, #main h3:first-letter{
	font-size : 45px;
	font-weight:1000;
	line-height : 1.5;
	}

	#botmain{
	margin-top: 15px;
	margin-bottom : 15px;
	}
	
	#botmain span{
	display : block;
	text-indent: 320;
	}
	
	#botone{
	margin-top : 30px;
	margin-left : 120px;
	}
	
	#bottwo{
	margin : 30px 80px;
	}

 	th, td{
	border: 1px solid darkblue;
	padding: 3px 5px 2px;
	text-align:center;
	letter-spacing : 1.5;
	}

	#footer{
	background : #D873F1 url("./제목 없음.png") no-repeat top right;
	font-size : 15px;
	border-top : 3px solid white;
	text-align : center;
	padding-top : 10px;
	background-color : #D873F1;
	color : white;
	}
	
	#rightside a{
	background-color : white;
	display : block;
	padding : 5px;
	}
	
	caption{
	caption-side : bottom;
	text-align : right;
	}

	</style>
	
	
</head>
<body>

	<div id = "wrapper">
		<div id = "upheader"><img src="./book.png" width="60px"/><span id = "sp1"> 연세대학교 학술정보원 자치회</span> <span id = "sp2">책갈피</span>  
		</div>
		<div id = "header">
			<ul>
				<li><a href = "#">home</a></li>
				<li><a href = "#">menu1</a></li>
				<li><a href = "#">menu2</a></li>		
				<li><a href = "#">menu3</a></li>		
			</ul>
		</div>
			<div id = "main">
				<h3>공지사항</h3>
				<p>책갈피는 연세대학교 학술정보원 자치회로, 매학기 사물함을 배정하며 중도 이용에 관한 질의응답을 드리고자 오피스아워를 운영하고 있습니다.</p>
				<p>학기초에 신입회원을 모집하고 있으니 자세한 사항은 싸이월드(http://club.cyworld.com/ysbookmark)나 페이스북(https://www.facebook.com/ysbookmark)을 참고해주세요.</p>
				<p>오피스아워의 운영 시간은 평일 월~금요일 정오부터 오후 6시까지입니다.</p>
				<p>시험 기간이나 공휴에일에는 따로 오피스아워를 운영하고 있지 않습니다.</p>
			</div>
			<div id = "botmain">
				<span>*2015년 하반기 책갈피 사물함 경쟁률입니다</span>
				<div id = "botone">
					<table height = "150">
						<tr>
						<th>분류/유형</th><th>구중도 1인</th><th>구중도 2인</th>
						</tr>
						<tr>
						<td>사물함수</td><td>460</td><td>890</td>
						</tr>
						<tr>
						<td>신청자수</td><td>1277</td><td>900</td>
						</tr>
						<tr>
						<td>9월 10일 경쟁률</td><td>2.8</td><td>1.01</td>
						</tr>
						<caption>*마감</caption>
					</table>
				</div>
				<div id = "bottwo">	
					<table height = "150">
						<tr>
						<th>신중도 사물함 개수</th><th>470개</th>
						</tr>
						<tr>
						<td>9월 9일 신중도 사물함 경쟁률</td><td>3.1</td>
						</tr>
						<tr>
						<td colspan = "2">최종 경쟁률 미정</td>
						</tr>
						<caption>*마감</caption>
					</table>
				</div>
		</div>
		<div id = "rightside"><a href = "https://www.facebook.com/ysbookmark" target = "_blank">페이스북 바로가기</a><a href = "http://club.cyworld.com/ysbookmark" target = "_blank">싸이월드 바로가기</a></div>
		<div id = "footer">* 연세대학교 학술정보원 자치회 책갈피 | 중앙도서관 지하 | 전화번호: | 월~금 12:00~16:00 / 시험기간이나 공휴일에 쉼</div>
	</div>

</body>
</html>


